:root {
    --aqua: #808ca1;
    --agri: #293462;
    --dark-salmon: #FA7070;
    --russet-green: #AD8B73;
    --pale-sandy-brown: #E9A6A6;
    --dark-chessnut: #dc9189;
    --dark-electric-blue: #546A7B;
}

/* Background Color */

.bg-aqua {
    background-color: var(--aqua) !important;
}

.bg-russet-green {
    background-color: var(--russet-green) !important;
}

.bg-agri {
    background-color: var(--agri) !important;
}

.bg-darkblue {
    background-color: darkblue;
}

.bg-dark-chessnut {
    background-color: var(--dark-chessnut);
}
.bg-dark-electric-blue {
    background-color: var(--dark-electric-blue);
}

.bg-soft-primary:hover {
    background-color: #0b51b7 !important;
    color: #ffffff !important;
}

/* Typography color */
.text-aqua {
    color: var(--aqua);
}

.text-dark-chessnut {color: var(--dark-chessnut);}
.text-dark-electric-blue {color: var(--dark-electric-blue) !important;}
.text-pale-sandy-brown {
    color: #E9A6A6;
}


a {
    text-decoration: none !important;
}

.text-upper {
    text-transform: uppercase !important;
}


.modal-dialog {
    z-index: 1065 !important;
}

/****************************************************************
Toast Notificaton
*/

#toast-notification {
    overflow: hidden !important;
}

#success-alert {
    position: fixed !important;
    top: 50vh !important;
    right: 0 !important;
    z-index: 1070 !important;
    width: 200px;
    height: 100px;
    background: #70c48f;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: none;

  }

.d-block {
    display: block;
}

.visible {
    animation: slideInRight 0.5s ease forwards, slideOutRight 0.5s 3s ease forwards;

  }

/* Buttons */
.create-btn {
    display: inline-flex;
    font-size: 14px;
    color: #fff;
    fill: #fff;
    padding: 8px 10px 8px 12px;
}

.create-btn-text {
    display: flex;
    margin-right: 6px;
}

.svg-container {
    display: inline-flex;
}
.plus-icon {
    font-size: 20px;
}

.min-height-200 {
    min-height: 200px;
}

/* Dialog Boxes */

.colored-toast.swal2-icon-success {
    background-color: var(--dark-chessnut)!important;
  }

  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }

  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }

  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }

  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }

  .colored-toast .swal2-title {
    color: white;
  }

  .colored-toast .swal2-close {
    color: white;
  }

  .colored-toast .swal2-html-container {
    color: white;
  }



/* Simple Bar */

  .simplebar-content:before, .simplebar-content:after {
    content: " ";
    display: table;
}

.activity .activity-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0;
    position: relative;
    min-height: 60px;
}

.activity .activity-info::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 42px;
    left: 18px;
    border-left: 2px dotted #e8ebf3;
}

.activity .activity-info .icon-info-activity i {
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: #7081b9;
    -webkit-box-shadow: 0px 0px 1px 0.25px;
    box-shadow: 0px 0px 1px 0.25px;
    font-size: 18px;
    border: 2px solid white;
    margin-left: 2px;
}

.ti-check:before {
    content: "";
}

.activity .activity-info .activity-info-text {
    margin-left: 16px;
    width: 100%;
}


/* Profile */
.met-profile .met-profile-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.met-profile .met-profile-main .met-profile-main-pic {
    position: relative;
    max-width: 128px;
    max-height: 128px;
    margin-right: 24px;
}

.met-profile .met-profile-main .met-profile-main-pic .met-profile_main-pic-change {
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-shadow: 0px 0px 20px 0px rgb(250 251 251 / 5%);
    box-shadow: 0px 0px 20px 0px rgb(250 251 251 / 5%);
    border: 3px solid #ffffff;
}

.met-profile .met-profile-main .met-profile_user-detail .met-user-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}

.dark-editable-element {
    border-bottom: dashed 1px #0088cc;
    text-decoration: none;
    cursor: pointer;
}

.met-profile .met-profile-main .met-profile_user-detail .met-user-name-post {
    color: #7081b9;
    font-size: 14px;
}

/* Borders */

@media screen and (min-width: 768px) {
    .border-end-xl-lg-md {
        border-right: 1px solid #dee2e6 !important;
    }
}