:root {
    --aqua: #808ca1;
    --agri: #293462;
    --dark-salmon: #FA7070;
    --prussian-blue: #182747;
    --russet-green: #AD8B73;
    --pale-sandy-brown: #E9A6A6;
}

.bg-aqua {
    background-color: var(--aqua) !important;
}

.bg-russet-green {
    background-color: var(--russet-green) !important;
}

.bg-agri {
    background-color: var(--agri) !important;
}

.bg-prussian-blue {
    background-color: var(--prussian-blue);
}

.bg-darkblue {
    background-color: darkblue;
}

.bg--dark-salmon {
    background-color: var(--dark-salmon) !important;
}

.text-aqua {
    color: var(--aqua);
}

.text-pale-sandy-brown {
    color: #E9A6A6;
}

a {
    text-decoration: none !important;
}

.text-upper {
    text-transform: uppercase !important;
}


.modal-dialog {
    z-index: 1065 !important;
}

/****************************************************************
Toast Notificaton
*/

#toast-notification {
    overflow: hidden !important;
}

#success-alert {
    position: fixed !important;
    top: 50vh !important;
    right: 0 !important;
    z-index: 1070 !important;
    width: 200px;
    height: 100px;
    background: #70c48f;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: none;

  }

.d-block {
    display: block;
}

.visible {
    animation: slideInRight 0.5s ease forwards, slideOutRight 0.5s 3s ease forwards;

  }

/* Buttons */
.create-btn {
    display: inline-flex;
    font-size: 14px;
    color: #fff;
    fill: #fff;
    padding: 8px 10px 8px 12px;
}

.create-btn-text {
    display: flex;
    margin-right: 6px;
}

.svg-container {
    display: inline-flex;
}
.plus-icon {
    font-size: 20px;
}

.min-height-200 {
    min-height: 200px;
}
